name: Demo Workflow
permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  render-all-files:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Render All Files
        uses: cbrgm/structuresmith@main
        with:
          # required
          project: example/repo1
          # optional
          config: ./anvil.yml
          output: ./out
          templates: ./templates
