name: Demo Workflow

on:
  workflow_dispatch:

jobs:
  render-all-files:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Render All Files
        uses: cbrgm/structuresmith@v1
        with:
          config-file: ./examples/configuration-simple.yml
          output-path: ./out
          max-parallel: 1
